---
interface Props {
  option1: string;
  option2: string;
  option3: string;
  option4: string;
  option5: string;
}

const { option1, option2, option3, option4, option5 } = Astro.props as Props;
---

<article>
  <ul
    class:list={[
      "flex",
      "justify-center",
      "w-full",
      "gap-6",
      "bg-green-700",
      "h-8",
      "text-white",
      "items-center",
    ]}
  >
    <li><a href="#">{option1}</a></li>
    <li><a href="#">{option2}</a></li>
    <li><a href="#">{option3}</a></li>
    <li><a href="#">{option4}</a></li>
    <li><a href="#">{option5}</a></li>
  </ul>
</article>

