---
interface Props {
  option1: string;
  option2: string;
  option3: string;
  option4: string;
  option5: string;
}

const { option1, option2, option3, option4, option5 } = Astro.props as Props;
---

<nav>
  <ul
    class:list={[
      "flex",
      "justify-center",
      "items-center",
      "w-full",
      "gap-10",                       
      "bg-white",
      "font-semibold",
      "text-green-900",
      "shadow-md",
      "h-16",                         
      "text-lg",                      
      "tracking-wide"
    ]}
  >
    <li class="relative group">
      <a href="#" class="transition duration-300 group-hover:text-green-700">
        {option1}
        <span class="block h-0.5 w-0 bg-green-700 transition-all duration-300 group-hover:w-full"></span>
      </a>
    </li>
    <li class="relative group">
      <a href="#" class="transition duration-300 group-hover:text-green-700">
        {option2}
        <span class="block h-0.5 w-0 bg-green-700 transition-all duration-300 group-hover:w-full"></span>
      </a>
    </li>
    <li class="relative group">
      <a href="#" class="transition duration-300 group-hover:text-green-700">
        {option3}
        <span class="block h-0.5 w-0 bg-green-700 transition-all duration-300 group-hover:w-full"></span>
      </a>
    </li>
    <li class="relative group">
      <a href="#" class="transition duration-300 group-hover:text-green-700">
        {option4}
        <span class="block h-0.5 w-0 bg-green-700 transition-all duration-300 group-hover:w-full"></span>
      </a>
    </li>
    <li class="relative group">
      <a href="#" class="transition duration-300 group-hover:text-green-700">
        {option5}
        <span class="block h-0.5 w-0 bg-green-700 transition-all duration-300 group-hover:w-full"></span>
      </a>
    </li>
  </ul>
</nav>


